<p><%= @resource.nickname %> 様</p>

<p>パスワード再設定の依頼を受け付けました。下記のリンクからパスワードを変更してください。</p>

<%# パスワード再設定画面は SPA 側のルートなので、フロントエンドの URL へリンクする %>
<% frontend_origin = ENV.fetch("FRONTEND_ORIGIN") { Rails.env.production? ? "https://yaehmap.com" : "http://localhost:5173" } %>
<p><%= link_to "パスワードを変更する", "#{frontend_origin}/password/reset?reset_password_token=#{@token}" %></p>

<p>このメールに心当たりがない場合は無視してください。上記リンクにアクセスするまでパスワードは変更されません。</p>
<p>リンクの有効期限は6時間です。</p>
